:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --accent-cl: #ff6c00;
  --main-tx-cl: #555;
  --secondary-tx-cl: #fff;

  /* background colors */
  --main-bg-cl: #fff;
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;

  /* btn color */

  --btn-light-mode: #fff;
  --btn-dark-mode: #303030;
}

body {
  font-family: var(--main-font);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-tx-cl);
}

.link {
  text-decoration: none;
  color: currentColor;
}

.btn {
  font-family: inherit;

  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: var(--accent-cl);
}

.btn-mode-light {
  color: var(--btn-light-mode);
}

.btn-mode-dark {
  color: var(--btn-dark-mode);
}

/* ХЕДЕР  */

.header {
  background-color: var(--dark-bg-cl);
}

/* Навигация */

.navigation-link,
.header-phone {
  font-weight: 600;
  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-tx-cl);
}

.navigation .link.current {
  color: #ff6c00;
}

.navigation .link {
  color: #fff;
}

.navigation .link:hover,
.navigation .link:focus {
  color: #ff6c00;
}
